.container {
  overflow: hidden;
}

div.circle {
  position: absolute;
  border-radius: 50%;
  background: #fec400;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #ec5626;
}

div.small {
  width: 200px;
  height: 200px;
  right: -100px;
  top: -100px;
}

div.medium {
  width: 400px;
  height: 400px;
  right: -200px;
  top: -200px;
}

div.large {
  width: 600px;
  height: 600px;
  right: -300px;
  top: -300px;
}

div.xlarge {
  width: 800px;
  height: 800px;
  right: -400px;
  top: -400px;
}

div.xxlarge {
  width: 1000px;
  height: 1000px;
  right: -500px;
  top: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.4;
}

.shade3 {
  opacity: 0.6;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 1;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.8);
  }
}
